<aside id="fh5co-hero" class="js-fullheight">
  
    <ul class="slides">
       <li style="background-image: url(./assets/images/img_bg_3.jpg);">
         <div class="overlay"></div>
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
             <div class="slider-text-inner">
               <h2 class="heading-title">Contact Us</h2>
               <p class="fh5co-lead">Designed with <i class="icon-heart3"></i> by the fine folks at <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></p>
             </div>
           </div>
           </div>
         </div>
       </li>
      </ul>
  </aside>


<div id="fh5co-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Contact Information</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>

<!-- email form start here -->
<form #f="ngForm" (ngSubmit)="onsubmit(f.value)">
  <div>
    <label>Name:</label>
    <input type="text" placeholder="@name" name="fname" ngModel required >
  </div>
  <div>
    <label>Email:</label>
    <input type="email" placeholder="@email" name="femail" ngModel required  >
  </div>
  <div>
    <label>Message:</label>
    <input type="text" placeholder="@message" name="fmessage" ngModel required >
  </div>
  <div>
    <input type="submit" [disabled] = "f.invalid" value="Submit"/>
   </div>

</form>

    <!-- email form end here -->
  </div>
</div>
